@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    color: var(--color-text);
}

:root {
    --color-white: #fff;
    --color-black: #000;
    --color-accent: #B21414;
    --color-text: #E0E1E3;
    --color-light-bg: #191C27;
    --color-dark-bg: #12141C;
}

a {
    text-decoration: none;
}

.application {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--color-light-bg);
}

.container {
    max-width: 1450px;
    margin: 0 auto;
}

.header {
    padding: 30px 0;

}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__language {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header__language-text {
    font-size: 20px;
}

.navbar__menu {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 55px;
}

.navbar__link {
    font-size: 18px;
    transition: 0.2s;
}

.navbar__link:hover {
    color: var(--color-accent);
}

.header__number {
    display: flex;
    align-items: center;
    gap: 65px;
}

.header__number-tel {
    font-size: 20px;
    font-weight: 600;
}